In [1]:
import pandas as pd
import json

In [5]:
data_folder = '../tethysapp/state_temp_map/workspaces/app_workspace/states_temp'

In [6]:

file_path = f'{data_folder}/input/temperature.json'
with open(file_path, 'r') as file:
    json_data = json.load(file)

In [7]:
data_dict = {}
for entry in json_data:
    state_name = entry['state']
    temp_data  = entry['data']
    state_temp_data = {data['year']: data['temperature'] for data in temp_data}
    data_dict[state_name] = state_temp_data
df = pd.DataFrame.from_dict(data_dict)
df.index.name='Year'
df

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1895,77.5,NaN,71.6,76.7,68.6,58.5,67.5,72.2,79.4,78.0,...,62.1,75.5,78.0,61.3,64.9,72.6,57.8,70.5,66.2,53.2
1896,77.4,NaN,77.9,77.3,70.9,63.8,63.3,69.2,80.0,78.0,...,66.6,73.1,82.0,67.6,60.0,70.6,57.7,68.8,66.0,60.0
1897,81.2,NaN,72.7,77.7,68.0,61.4,61.6,67.4,81.9,81.2,...,64.5,75.1,79.7,62.9,57.7,71.3,57.1,68.4,62.0,58.0
1898,80.4,NaN,75.9,78.5,68.7,61.7,65.9,71.2,81.0,80.6,...,66.0,76.6,79.3,64.3,61.6,72.3,57.8,70.2,65.9,58.4
1899,79.9,NaN,74.7,77.0,68.4,61.1,67.6,73.1,80.4,80.0,...,64.9,76.5,79.5,63.0,62.8,73.7,55.1,70.8,65.2,55.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,78.1,54.0,75.2,75.6,71.1,60.6,66.5,73.8,82.3,78.1,...,66.3,73.4,79.1,63.6,60.5,71.2,59.5,67.6,63.6,57.0
2020,76.9,50.5,76.8,76.4,70.4,65.0,68.4,73.7,81.0,76.9,...,70.3,73.5,80.7,65.4,62.8,71.3,57.9,68.1,66.5,59.7
2021,77.0,50.9,80.6,76.9,74.9,65.7,69.2,73.8,80.7,77.0,...,72.3,74.0,80.3,71.9,65.4,72.0,64.6,69.2,69.4,64.9
2022,80.2,52.7,78.5,78.1,72.1,64.3,66.3,72.4,82.0,80.1,...,67.7,75.8,83.8,67.6,61.5,72.1,58.0,68.7,65.4,59.0
2023,76.6,50.0,72.5,77.3,66.8,60.0,65.4,70.6,80.6,75.7,...,69.9,72.1,82.2,62.6,61.6,68.1,60.9,64.7,66.6,57.4

In [8]:
output_path = f"{data_folder}/output/"

In [9]:
for col in df.columns:
    df_state = df[col].dropna()
    df_state.to_csv(f"{output_path}/{col}.csv",)

In [11]:
pd.read_csv(f"{output_path}/Alaska.csv")

    Year  Alaska
0   1925    48.6
1   1926    52.4
2   1927    49.8
3   1928    49.0
4   1929    50.2
..   ...     ...
94  2019    54.0
95  2020    50.5
96  2021    50.9
97  2022    52.7
98  2023    50.0

[99 rows x 2 columns]